<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="home_contain">
            <div class="div_tag">
                <h1 class="home_tag"> Wel Come to <%=jwtdata[0].u_name%>
                </h1>
            </div>
            <div class="div_tag">
                <p class="hometag">Name : <%=jwtdata[0].u_name%>
                </p>
            </div>
            <div class="div_tag">
                <p class="home_tag">Email : <%=jwtdata[0].u_email%>
                </p>
            </div>

            <div class="div_tag">
                <div  id="logout"><a href="/logout"> Logout </a></div>
            </div>
        </div>
    </div>
</body>

</html>